﻿@using UserProject.Identity.Models

@model LoginViewModel

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">

                <h2>Вход в профиль</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label class="form-label">Электронная почта</label>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label class="form-label">Пароль</label>
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                </div>
            </form>
        </section>
    </div>
</div>

